// Import page-specific CSS files here.
@import "home";

.wp-table tr:nth-child(odd) {
  background-color: #fff;
}

.wp-table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.wp-table tr {
  border-bottom: 1px solid #ddd;
}

.wp-table th:first-child,
.wp-table td:first-child {
  padding-left: 16px;
}


.wp-table td,
.wp-table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.wp-table th {
  font-weight: bold;
}

.wp-table {
  font-size: 19px!important;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 5px;
  width: 80%;
  margin: 0 auto;
  display: table;
}

.sum {
  font-weight: 900;
  color: red;
}
.company_name {
  font-weight: 600;
}
.btn {
  margin: 10px;
}
.forms {
  margin: 10px;
}
