<div class="wrapper" style="text-align: center;
                            margin-top: 50px;">

  <h1>Invoicing System</h1>

  <%= link_to 'See All Invoices', invoices_path, class: "btn btn-success text-white" %>

  <div class="home-body">
    <p>A small app where you can keep track of all you.</p>
    <p>Suitable for small businesses.</p>
  </div>
</div>
