<div class="wrapper-home" style="text-align: center">
  <div class="home-body">
      <h1>Invoicing System</h1>

  <%= link_to 'See All Invoices', invoices_path, class: "btn btn-success text-white" %>

    <p>A small app where you can keep track of all your invoices.</p>
    <p>Suitable for small businesses.</p>
  </div>
</div>
